<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
		<connectionStrings>
			<add name="DB"
				 connectionString="Server=155.155.100.95;Database=CISDB;User Id=zhangjian;Password=Zj@admin;"
				 providerName="System.Data.SqlClient"/>
			
		</connectionStrings>
	
</configuration>